/* NavBar.module.css */
.navBar {
  background-color: var(--navbar-background); /* USAR VARIABLE */
  color: var(--navbar-text-color); /* USAR VARIABLE */
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navItem {
  color: var(--navbar-text-color); /* USAR VARIABLE */
  text-decoration: none;
  margin: 0 10px;
}

.navItem:hover {
  color: var(--navbar-hover-color); /* USAR VARIABLE */
}