.searchForm {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--border-color); /* Usar variable del tema */
  border-radius: 5px 0 0 5px;
  font-size: 1em;
  background-color: var(--input-background); /* Usar variable del tema */
  color: var(--text-color); /* Usar variable del tema */
}

.searchButton {
  padding: 10px 15px;
  background-color: var(--button-background); /* Usar variable del tema */
  color: white; /* Color de texto del botón (fijo) */
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: var(--button-hover-background); /* Usar variable del tema */
}