/* Card.module.css */
.card {
  position: relative;
  border: 1px solid var(--card-border); /* USAR VARIABLE */
  background-color: var(--card-background); /* AÑADIR BACKGROUND PARA TEMATIZAR */
  padding: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--text-color); /* Para que el icono del botón cambie de color con el tema */
  transition: color 0.3s ease;
}

.favoriteButton:hover {
  opacity: 0.7;
}

.cardImage {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.cardTitle {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--text-color); /* Para que el título cambie de color */
}

.cardDetails {
  font-size: 0.9em;
  color: var(--card-text-color); /* USAR VARIABLE */
  margin-bottom: 10px;
}